body {
	background-color: #bbb;
	font-family: Bahnschrift, sans-serif;
	font-size: 24px;
	line-height: 1.5;
	margin: 40px;
}

h1, h2 {
	margin-bottom: 0;
}

img {
	border-radius: 25%;
	float: right;
	height: auto;
	margin-left: 40px;
	margin-right: 40px;
	width: 200px;
}

p {
	margin-bottom: 50px;
	margin-top: 10px;
}

.index {
	background-color: #333;
	font-size: 16px;
	list-style-type: none;
	margin: -40px;
	margin-bottom: 50px;
	overflow: hidden;
	padding: 0;
}

.index li {
	float: left;
}

.index li.home {
	background-color: #355;
}

.index li.external:hover {
	background-color: #222;
}

.index li a {
	color: white;
	display: block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}
